.analysis-single-main {
    width: 50%;
    margin: auto;

    img {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .analysis-single-main {
        width: 90%;
        margin: 10px;
    }
}
