.tech-main {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 200px 100px;
    grid-template-areas:
    'title title title'
    'html css js'
    'php python sqlite'
    'git git git';
    grid-gap: 25px;
}

.tech-title {
    grid-area: title;
}

.html {
    grid-area: html;
}

.css {
    grid-area: css;
}

.js {
    grid-area: js;
}

.php {
    grid-area: php;
}

.python {
    grid-area: python;
}

.sqlite {
    grid-area: sqlite;
}

.git {
    grid-area: git;
}

.tech-title {
    text-align: center;
    font-size: 3em;
}

.tech {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0 1fr 3fr;
    grid-template-areas:
    'tech-title'
    'tech-inner-box';
    background-color: $accent-color;
    height: 100%;
    width: 100%;

    h2 {
        grid-area: tech-title;
        background-color: $link-color;
        margin: 0;
        height: 60px;
        text-align: center;
    }

    .tech-inner-box {
        grid-area: tech-inner-box;
        background-color: $accent-color;
        height: 100%;
        width: 100%;
        margin: 0;
    }

    i {
        float: right;
    }
}
@media (min-width: 768px) {
    .tech:hover {
        transform: rotateZ(1deg) scale(1.1);
        box-shadow: 20px 20px 20px rgb(46, 45, 45);
        transition: ease-in-out 0.5s;
    }
}
@media (max-width: 767px) {
    .tech-main {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 50px;
        grid-gap: 30px;
        grid-template-areas:
        'title'
        'html'
        'css'
        'js'
        'php'
        'python'
        'sqlite'
        'git';

        a {
            display: inline-block;
            margin-bottom: 20px;
            height: 20px;
        }


    }
}
