* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

body {
    background-color: $background-color;
    max-width: 100%;
}

.container {
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
}

.title {
    grid-area: title;
    color: rgb(0, 0, 0);
}

.site-header {
    grid-area: header;
    height: 150px;
}

.main {
    grid-area: main;
    min-height: 70vh;

    img {
        width: 250px;
        height: 400px;
        object-fit: cover;
        float: left;
        margin-right: 10px;
    }
}

.footer {
    grid-area: footer;
    height: 15vh;
}

.main {
    width: 60%;
    margin: auto;
}

img {
    filter: brightness(50%);
    transition: all ease-in-out 0.1s;
}

img:hover {
    filter: brightness(100%);
}

@media (max-width: 767px) {
    .container {
        grid-template-areas: 
        'header'
        'main'
        'footer';
    }
}
