.tech-main {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 200px 100px;
    grid-template-areas:
    'title title title'
    'html css js'
    'php python sqlite'
    'git git git';
    grid-gap: 25px;
}

.tech-title {
    grid-area: title;
}

.html {
    grid-area: html;
}

.css {
    grid-area: css;
}

.js {
    grid-area: js;
}

.php {
    grid-area: php;
}

.python {
    grid-area: python;
}

.sqlite {
    grid-area: sqlite;
}

.git {
    grid-area: git;
}

.tech-title {
    text-align: center;
    font-size: 3em;
}

.tech {
    background-color: $accent-color;
    transition: all ease-in-out 0.3s;
}

.techbox {
    h2 {
        color: $white;
    }

    p {
        color: $white;
    }
}

@media (min-width: 768px) {
    .tech:hover {
        transform: scale(0.9);
        border-radius: 0 0 50%;
    }
}

@media (max-width: 767px) {
    .tech-main {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 50px;
        grid-gap: 30px;
        grid-template-areas:
        'title'
        'html'
        'css'
        'js'
        'php'
        'python'
        'sqlite'
        'git';

        a {
            display: inline-block;
        }


    }
}
