$font-color: rgb(0, 0, 0);
$font-alternative-color: rgb(133, 39, 39);
$accent-color: rgb(30, 45, 64);
$background-color: rgb(255, 255, 255);
$background-alternative-color: rgb(41, 48, 58);
$link-color: rgb(163, 150, 31);
